{% extends "base.html" %} {% block title %}Article View{% endblock %}

{% block content %}

<div>
	<div class="block" style = "filter:brightness(95%);">
		<div class="accordion" id="accordionStart">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Available Topics and Articles
					</button>
				</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionStart">
				<div class="accordion-body">
				<div class="row">
						<div class="col-3" id="articel_view;available_topics">
							<h4>Topics</h4>
							<div id="articel_view;available_topics;list" class="list-group">
							</div>
						</div>
						<div class="col" id="articel_view;available_articles">
							Articles
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" id="button-statistic-topic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Statistics to selected Topic
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse hide" aria-labelledby="headingTwo" data-bs-parent="#accordionStart">
					<div class="accordion-body">
						<p id="statistics_on_load_warning">Please select a Topic!</p>
						<h2 id="statistics_headline", style="text-align: center;"></h2>
						<div class="container-fluid">
							<div class="row">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Views
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									  <li><a id="mainChart;piegroups" class="dropdown-item" href="#">Pie Chart Groups</a></li>
									  <li><a id="mainChart;pieentity" class="dropdown-item" href="#">Pie Chart Entity</a></li>
									  <li><a id="mainChart;bar" class="dropdown-item" href="#">Bar Chart</a></li>
									  <li><a id="mainChart;scatter" class="dropdown-item" href="#">Scatter Plot</a></li>
									</ul>
								  </div>
								<div class="col-6">
									<div id="mainChart" style="width: 100%; min-height: 400px"></div>
								</div>
								<div class="col-6">
									<div id="entityChart" style="width: 100%; min-height: 400px"></div>
								</div>
								<div class="container-fluid" id="scatterChart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
						Entities to selected Topic
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse hide" aria-labelledby="headingThree" data-bs-parent="#accordionStart">
					<div class="accordion-body">
						<p id="entities_on_load_warning">Please select a Topic!</p>
						<h2 id="entities_headline", style="text-align: center;"></h2>
						<div id="entities"></div>
					</div>
				</div>
			</div>
		</div>
    </div>



    
</div>

<div class="block" style="margin-top: 20px; min-height: 50px;">
	<button class="btn btn-secondary" type="button" id="open_all_entities_button">Open all Entities</button>
	<button class="btn btn-secondary" type="button" id="close_all_open_entities_button">Close all Entities</button>
	<div id="openentities">
	</div>
</div>



<div class="container-fluid">
    <div class="row row-cols-1" id="articel_view;row" style="margin-top: 20px">

    </div>
</div>

<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="module" src={{ url_for('static', filename='article-view.js') }}></script>



{% endblock %}