<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./main.css') }}">
</head>
<body>
    <div id="mySidenav" class="sidenav">
		<button class="close-arrow" onclick="closeNav()">&lang;</button>
        <a href="/information">Information</a>
        <a href="/single-article-view">Single Article View</a>
        <a href="/multi-article-view">Multi Article View</a>
        <a href="#", onclick="show('available_topics'); return false">Available Articles</a>
        <a href="/statistics">Statistic</a>
        <a href="/contact">Contact</a>

    </div>

    <div id=main>
        <button class="open-arrow" onclick="openNav('available_topics')">&rang;</button>

        <header style="text-align:center">
          <h1>Prototype</h1>
        </header>

        <div>{% block content %} {% endblock %}</div>

    </div>

    <script src={{ url_for('static', filename='prototype.js') }}></script>
    <noscript>You need to enable JavaScript.</noscript>
</body>

</html>