{% extends "base.html" %} {% block title %}Contact{% endblock %}

{% block content %}

<div id="div_contact", class="text_theme">
    <h2>Contact</h2>
    Max Kortenbruck<br>
	E-Mail: 
	<a href='mailto:max.kortenbruck@uni-wuppertal.de'>max.kortenbruck@uni-wuppertal.de</a>
	<br><br>

	Alina Stephan<br>
	E-Mail: 
	<a href='mailto:alina.stephan@uni-wuppertal.de'>alina.stephan@uni-wuppertal.de</a>
	<br><br>

	Wanja Zemke<br>
	E-Mail: 
	<a href='mailto:wanja.zemke@uni-wuppertal.de'>wanja.zemke@uni-wuppertal.de</a>
</div>

{% endblock %}