{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<div id="div_information", class="text_theme">
    <h2>Information</h2>
    This application enables text analyzation by visualizing coreferential mentions in news articles and drawing up statistics. <br>
	For every article you can choose which entities to mark in the text and which statistics you would like to see. 
	You can also choose whether you would like to analyze a single article in the single-article-view or to compare multiple articles in the multi-article-view. <br><br>

	This tool is a product of the course "Key Competences in Computer Science" which was held in the summer semester of 2021 at the University of Wuppertal and is based on the prototype constructed in the master thesis <a href='https://dke.uni-wuppertal.de/fileadmin/Abteilung/MT/news/MA_thesis_Zhukova.pdf'>"Automated Identification of Framing by Word Choice and Labeling to Reveal Media Bias in News Articles"</a> by Anastasia Zhukova.
</div>

{% endblock %}